body{
    background-color: lightgreen;
}

h1{
    text-align: center;
}

#board{
    display:none;
}

#game{
    /*display:none;*/
    position: relative;
    height: 285px;
    background: url("http://orig09.deviantart.net/a2ee/f/2016/068/4/a/my_creative_sonic_sprite_background_1_by_sonicmechaomega999-d9uirad.png") repeat-x;   
    
}

#mario{
    height:100px;
    position: absolute;
    bottom: 60px;
    left: 265px;
}
#enemy{
    position: absolute;
    bottom: 60px;
    left: 565px;
}
#coin{
    height:35px;  
    position: absolute;
    bottom: 190px;
    left: 300px;
}

h3{
    float: right;
    margin: 25px;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    margin: 20px auto;
}